body,
h1,
h2,
h3,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
}
button {
  all: unset;
  cursor: pointer;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
  font-weight: 400;
}

h2,
h3 {
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-weight: 700;
}

p {
  line-height: 20px;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  box-shadow: inset 0 0 10px violet;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #f2e9d8;
  padding: 26px 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}

header .wrapper {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: 40px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  background-color: #d97652;
  color: #fff;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-weight: 700;
}

section {
  box-shadow: inset 0 0 10px green;
}

.intro {
  background-color: #f2e9d8;
}

.intro {
  padding-top: 134px;
}

.intro-text {
  max-width: 740px;
  display: inline-block;
  padding-top: 200px;
}

.intro-text h2 {
  font-size: 48px;
  margin-bottom: 40px;
}

.intro-text p {
  max-width: 440px;
  margin: 40px 0;
}

.intro img {
  float: right;
}

.banner {
  padding: 80px 0;
}

.banner img {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.banner-text {
  float: right;
  max-width: 510px;
  margin-top: 92px;
  margin-left: auto;
}

.banner-text h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

.items {
  padding: 40px 0 350px;
}

.items-img {
  display: flex;
  gap: 72px;
  margin: 90px 0;
}

.items-img img {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.items h2,
.items p {
  text-align: center;
}

.items h2 {
  font-size: 48px;
  margin-bottom: 40px;
}

.color {
  color: #d97652;
  font-family: "SpoqaHanSansNeo-Bold", sans-serif;
  font-weight: 700;
}

.learn-more {
  max-width: 940px;
  margin: 0 auto;
}

.items .learn-more-text {
  text-align: left;
  display: inline-block;
}

.items .button {
  float: right;
}

.subscribe {
  margin: -100px 0;
  position: relative;
}

.subscribe-wrap {
  background-color: #263140;
  box-sizing: border-box;
  padding: 50px 58px;
  border-radius: 30px;
}

.subscribe-text {
  color: #fff;
  max-width: 490px;
  float: left;
}

.subscribe-text h3 {
  font-size: 36px;
  margin-bottom: 18px;
}

.subscribe-text p {
  font-size: 14px;
  line-height: 18px;
}

.subscribe form {
  position: relative;
  float: right;
  margin-top: 20px;
}

.subscribe form::before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 30px;
  width: 24px;
  height: 24px;
  background: url(../img/mail.png) no-repeat 0 0 / contain;
}

.subscribe input {
  width: 530px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px 150px 20px 68px;
  background: #fff;
  border-radius: 60px;
  font-size: 16px;
}

.subscribe input::placeholder {
  font-size: 16px;
}

.subscribe input:focus-visible {
  outline: #d97652 auto 1px;
}

.subscribe button {
  position: absolute;
  top: 5px;
  right: 5px;
}

footer {
  box-shadow: inset 0 0 10px blue;
  height: 500px;
  box-sizing: border-box;
  padding-top: 340px;
  background: url(../img/cat_6.png) no-repeat 0 60% / cover;
}

.footer-wrap {
  padding: 45px 0;
  background-color: #fff;
}

footer .wrapper {
  display: flex;
  align-items: center;
}

.sns-icon {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.modal {
  max-width: 600px;
  background: #f2e9d8 url(../img/modal_bg.png) no-repeat 0 0 / contain;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
}

.modal img {
  margin: 60px auto 24px;
}

.modal strong {
  display: block;
  font-size: 36px;
  margin: 0 auto;
}

.modal p {
  font-size: 14px;
  margin: 12px auto 38px;
}

.modal button {
  margin-bottom: 40px;
}
