@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

body,
h1,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 400;
}

.notice {
  color: #29363d;
  position: relative;
  /* width: 728px; */
}

.notice-title {
  font-size: 30px;
  font-weight: 700;
}

.notice-list {
  margin-top: 16px;
  border-top: 1px solid #eee;
}

.notice-list li {
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.notice-list li a {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  gap: 37px;
}

.notice-list li a strong {
  font-weight: 700;
  color: #2e6ff2;
  margin-right: 16px;
}

.notice-list li p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.more {
  position: absolute;
  top: 0;
  right: 0;
}
