/* reset */
body,
h1,
h2,
h3,
p,
button,
fieldset,
input,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

fieldset {
  border: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* base */
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "SpoqaHanSansNeo-Regular", sans-serif;
}

body {
  background: #f2f2f2;
}

/* 로그인 버튼 */
.btn-login {
  width: 100%;
  padding: 17px 0 15px;
  line-height: 28px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: #2f80ed;
  color: #fff;
  cursor: pointer;
}

/* 메인 화면 */
#appLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont-login {
  width: 500px;
  padding: 38px 30px 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c4c4c4;
}

.cont-login .tit-weniv {
  display: inline-block;
  width: 122px;
  margin-bottom: 36px;
}

.cont-login .txt-login {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

/* 모달 스타일 */
.modal-login {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.modal-login.on {
  display: block;
}

.modal-login::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
}

.modal-login .cont-form-login {
  position: relative;
  max-width: 520px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.cont-form-login .tit-form {
  padding: 20px 0 18px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}

.cont-form {
  border-top: 1px solid #c4c4c4;
  padding: 26px 24px 25px;
}

.cont-form .txt-form {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
}

/* 로그인&비밀번호 */
.module-inp .inp-login {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 16px 15px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-weight: 500;
}

.module-inp.module-inp-id.error .inp-login {
  position: relative;
  border: 2px solid #f4492e;
}

.module-inp .inp-error {
  display: none;
  margin: 6px 0 0 4px;
  font-size: 14px;
  line-height: 18px;
  color: #f4492e;
  text-align: left;
}

.module-inp.error .inp-error {
  display: block;
}

.module-inp ~ .module-inp {
  margin-top: 10px;
}

/* 로그인 상태 유지 */
.form-login .labl-hold {
  display: inline-block;
  height: 22px;
  margin: 17px 0 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
  cursor: pointer;
}

.form-login .labl-hold::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: -5px;
  /* background: url(../img/css_sprites_checkbox.png) -52px -10px; */
  background: url(../img/css_sprites_retina.png) -52px -10px / 84px 42px;
}

.form-login .inp-hold:focus-visible + .labl-hold::before {
  outline: 2px solid #000;
  outline-offset: 5px;
}

.form-login .inp-hold:checked + .labl-hold::before {
  /* background: url(../img/css_sprites_checkbox.png) -10px -10px; */
  background: url(../img/css_sprites_retina.png) -10px -10px / 84px 42px;

}

/* .form-login .inp-hold {
  appearance: none;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: -5px;
  background: url(../img/check-box.svg) no-repeat center / contain;
  transition: all 0.3s;
  cursor: pointer;
}

.form-login .inp-hold:checked {
  background-image: url(../img/check-box-checked.svg);
} */

/* 링크 */
.link-userinfo {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #767676;
}

.link-userinfo span {
  margin: 0 12px;
}

/* 소셜 로그인 */
.cont-form-login .cont-sns-login {
  position: relative;
  margin-top: 30px;
  padding-top: 38px;
  font-size: 14px;
  color: #767676;
}

.cont-sns-login::before {
  content: "또는";
  display: block;
  width: 52px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  text-align: center;
  z-index: 10;
}

.cont-sns-login::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 9px;
  height: 1px;
  margin-top: -0.5px;
  background-color: #c4c4c4;
}

.cont-sns-login li + li {
  margin-top: 10px;
}

/* 소셜로그인 링크 */
.link-sns-login {
  display: block;
  padding: 15px 14px;
  border: 1px solid #767676;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #767676;
}

.link-sns-login.icon-facebook {
  border: 1px solid #2d9cdb;
}

.link-sns-login.icon-naver {
  border: 1px solid #00bf18;
}

.link-sns-login.icon-kakao {
  border: 1px solid #f2c94c;
}

[class^="icon"]::before {
  position: absolute;
  display: block;
  content: "";
  width: 22px;
  height: 22px;
	/* background-image: url(../img/css_sprites_sns.png); */
	background-image: url(../img/css_sprites_sns_retina.png);
	background-repeat: no-repeat;
	background-size: 32px 129px;
}

.icon-google::before {
  /* background-position: -10px -10px; */
  background-position: -5px -36px;
}

.icon-facebook::before {
  height: 24px;
  /* background-position: -6px -136px; */
  background-position: -2px -100px;
}

.icon-naver::before {
  /* background-position: -10px -52px; */
  background-position: -5px -68px;
}

.icon-kakao::before {
  /* background-position: -10px -94px; */
  background-position: -5px -5px;
}

/* 닫기 버튼 */
.cont-form-login .btn-close {
  position: absolute;
  top: 12px;
  right: 14px;
  z-index: 10;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 10px 10px;
}

.cont-form-login .btn-close img {
  width: 100%;
  height: 100%;
}
